.salty-ripple {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    pointer-events: none;
    overflow: hidden;
    border-radius: inherit;
}

.salty-ripple[aria-disabled='true'] {
    display: none;
}

@media (forced-colors: active) {
    .salty-ripple {
        display: none;
    }
}

.salty-ripple .salty-ripple-surface {
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: inherit;
}

.salty-ripple .salty-ripple-surface::before,
.salty-ripple .salty-ripple-surface::after {
    content: '';
    opacity: 0;
    position: absolute;
}

.salty-ripple .salty-ripple-surface::before {
    width: 100%;
    height: 100%;
    background-color: currentColor;
    inset: 0;
    transition:
        opacity var(--ripple-duration, 150ms),
        background-color var(--ripple-duration, 150ms);
}

.salty-ripple .salty-ripple-surface::after {
    inset: 0;
    background: radial-gradient(
        closest-side,
        currentColor max(100% - 70px, 65%),
        transparent 100%
    );
    transform-origin: center center;
    transition: opacity 375ms;
}

.salty-ripple .salty-ripple-surface.--hover::before {
    background-color: currentColor;
    opacity: var(--ripple-hover-opacity, 0.08);
}

.salty-ripple .salty-ripple-surface.--press::after {
    opacity: var(--ripple-pressed-opacity, 0.12);
    transition-duration: 75ms;
}
